:root {
  --hover-button-span: #2196f3;
  --logo: #000000;
  --title-nav-h: #212121;
  --p-title: #757575;
  --footer-bg: #2f303a;
  --bg-hero: #2f303a40;
  --teams-bg-button-port: #f5f4fa;
  --bg-text-footer: #ffffff;
  --footer-address: rgba(255, 255, 255, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

body {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
}
nav a[href="#"] {
  color: var(--hover-button-span);
}

.header {
  border-bottom: 1px solid#ECECEC;
}

.header-flex {
  display: flex;
  padding: 25px 0 25px 0;
  align-items: center;
}

.header-item {
  padding-left: 93px;
  display: flex;
  gap: 50px;
}

.header-address {
  margin-left: auto;
}

.header-address a:first-child {
  color: var(--hover-button-span);
}

.header-address a:last-child {
  padding-left: 50px;
}

.logo {
  color: var(--hover-button-span);
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.78px;
}

.logo span {
  color: var(--logo);
}

.header-link {
  color: var(--title-nav-h);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-link:hover {
  color: var(--hover-button-span);
}

.address-link {
  color: var(--p-title);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.hero {
  background: url("../img/bg-hero.jpg") center / cover no-repeat;
  position: relative;
  z-index: 1;
}
.hero-bg {
  padding: 200px 0;
}

.hero::before {
  content: "";
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--bg-hero);
}
.hero-title {
  width: 696px;
  margin: 0 auto;
  color: var(--bg-text-footer);
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: calc(60 / 44);
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.btn {
  display: block;

  width: 216px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--hover-button-span);
  cursor: pointer;

  color: var(--bg-text-footer);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.96px;
}

.advantages {
  padding-top: 94px;
}

.advantages-list {
  justify-content: space-between;
  display: flex;
  gap: 30px;
}

.advantages-item {
  width: 100%;
}

.antena-svg::before {
  background: url("../icon/antenna.svg") center no-repeat;
}
.watch-svg::before {
  background: url("../icon/watch.svg") center no-repeat;
}
.comp-svg::before {
  background: url("../icon/comp.svg") center no-repeat;
}
.planet-svg::before {
  background: url("../icon/antenna.svg") center no-repeat;
}

.advantages-item::before {
  content: "";
  display: block;
  margin-bottom: 30px;
  border-radius: 4px;
  height: 120px;
  background-color: var(--teams-bg-button-port);
}

.advantages-title {
  color: var(--title-nav-h);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.advantages-text {
  padding-top: 10px;
  color: var(--p-title);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.services {
  padding: 94px 0 94px 0;
}

.service-img {
  width: 370px;
}

.service-wrapper {
  padding-top: 50px;
  display: flex;
  gap: 30px;
}

.team {
  padding: 94px 0;
  background-color: var(--teams-bg-button-port);
}

.team-list {
  padding-top: 50px;
  display: flex;
  gap: 30px;
}

.team-item {
  max-width: 270px;
  text-align: center;
  background-color: var(--bg-text-footer);

  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team-img {
  width: 270px;
}

.team-title {
  padding-top: 30px;
  color: var(--title-nav-h);
  font-weight: 500;
}

.team-text {
  padding: 10px 0 30px 0;
  color: var(--p-title);
  font-weight: 400;
}

.footer {
  padding: 60px 0;
  background-color: var(--hero-section-footer-bg);
}
.footer span {
  color: var(--bg-text-footer);
}
.footer-list {
  padding-top: 20px;
}

.footer-item {
  padding-top: 9px;
}

.footer-links {
  color: var(--footer-address);
  font-size: 14px;
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.42px;
}

.footer-link {
  color: var(--bg-text-footer);
}

.select-category-item {
  padding: 94px 0;
}

.category-list {
  display: flex;
  gap: 9px;
  justify-content: center;
}

.category-button {
  width: 125px;
  height: 38px;
  border-radius: 4px;
  background: var(--teams-bg-button-port);
  border: none;

  color: var(--title-nav-h);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.48px;
  transition: all 0.4s ease;
}

.category-all {
  width: 73px;
  height: 38px;
}

.category-button:hover {
  color: var(--bg-text-footer);
  background-color: var(--hover-button-span);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.product {
  margin-top: 50px;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product-item {
  flex-basis: calc((100% / 60) / 3);
  outline: 1px solid #eee;
}

.text-wrapper {
  padding: 20px 23px;
}

.product-title {
  color: var(--title-nav-h);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: calc(36 / 18);
  letter-spacing: 1.08px;
}

.product-text {
  color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(30 / 16);
  letter-spacing: 0.48px;
}
