:root {
    --hover-button-span: #2196F3;
    --logo: #000000;
    --title-nav-h: #212121;
    --p-title: #757575;
    --hero-section-footer-bg: #2F303A;
    --teams-bg-button-port: #F5F4FA;
    --bg-text-footer: #FFFFFF;
}